body {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to right top, #193a6f, #173463, #152e57, #13284b, #112240);
    background-attachment: fixed;
    padding: 1rem;
    color: white;
}

section {
    background-image: linear-gradient(to left bottom, #f98125, #f98831, #f98e3b, #f89546, #f89b50);
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}